<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>123499973842-ifpcmd3f8e002i4n4lgl4tp11ciokiml.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1-kgU0ecIEYpavE5GOw-l4lpp3EvQoSI</string>
	<key>GCM_SENDER_ID</key>
	<string>123499973842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hatofit.hatofit</string>
	<key>PROJECT_ID</key>
	<string>hatofit-0001</string>
	<key>STORAGE_BUCKET</key>
	<string>hatofit-0001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123499973842:ios:bfcb43e0171bf9521db10b</string>
</dict>
</plist>